@model WebSigma.Models.ViewModels.VisitorViewModel

@{
    /**/

    ViewBag.Title = "Index";
}


<div class="row justify-content-center">
    <div>

    </div>
    <div class="col-lg-8 text-center">
        <div class="logo">
            <img src="~/Images/sigma-logo.png" class="img-fluid" alt="logo">
        </div>
        <br />
        <div class="titulo">
            <strong><h3>Prueba de desarrollo Sigma</h3></strong>
        </div>
        <br />
        <div class="parrafo">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>

</div>

<div class="row justify-content-center" style="margin-top:35px;">
    <div class="col-lg-5">
        <img src="~/Images/sigma-image.png" class="img-fluid" alt="logo">
    </div>
    <div class="col-lg-5">
        <div class="card formulario shadow p-3 mb-5 bg-white rounded">
            <div class="card-body hori">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.State, new SelectList(Enumerable.Empty<SelectListItem>(), "State", "State.Name"), "Seleccione departamento", new { id = "ddlState", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.City, new SelectList(Enumerable.Empty<SelectListItem>(), "City", "City.Name"), "Seleccione Ciudad", new { id = "ddlCity", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pepito de Jesus" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "pepitodejesus@gmail.com" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-circle text-center boton" value="enviar">ENVIAR</button>

                    </div>}
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {


        var ddlState = $('#ddlState');
        var ddlCity = $('#ddlCity');
        var states = ["Amazonas",
            "Atlántico",
            "Caquetá",
            "Cesar",
            "Chocó",
            "Córdoba",
            "Guainía",
            "Guaviare",
            "Huila",
            "La Guajira",
            "Putumayo",
            "Quindío",
            "San Andrés y Providencia",
            "Sucre",
            "Tolima",
            "Vaupés",
            "Vichada",]

        $(ddlState).empty();
        $.each(states, function (i, p) {
            ddlState.append($('<option></option>').val(p).html(p));
        });



        var dict = {
            "Amazonas": [
                "Leticia",
                "El encanto",
                "La Chorrera",
                "La Pedrera",
                "Miritiparaná",
                "Puerto Alegría",
                "Puerto Arica",
                "Puerto Nariño",
                "Puerto Santader"
            ],
            "Atlántico": [
                "Baranoa",
                "Baranoa",
                "Barranquilla",
                "Campo de la Cruz",
                "Candelaría",
                "Galapa",
                "San Juan de Acosta",
                "Luruaco",
                "Malambo",
                "Manatí",
                "Palmar de Varela",
                "Piojo",
                "Polo Nuevo",
                "Ponedera",
                "Puerto Colombia",
                "Repelón",
                "Sabanagrande",
                "Sabanalarga",
                "Santa Lucía",
                "Santo Tomás",
                "Soledad",
                "Suan",
                "Tubara",
                "Usiacurí"
            ],
            "Caquetá": [
                "Albania",
                "Belén de los Andaquíes",
                "Cartagena del Chaira",
                "Curillo",
                "El Doncello",
                "El Paujil",
                "Florencia",
                "La Montañita",
                "Milan",
                "Morelia",
                "Puerto Rico",
                "San José de Fragua",
                "San Vicente del Caguán",
                "Solano",
                "Solita",
                "Valparaíso"
            ],
            "Cesar": [
                "Aguachica",
                "Agustín Codazzi",
                "Astrea",
                "Becerril",
                "Bosconia",
                "Chimichagua",
                "Chiriguaná",
                "Curumaní",
                "El Copey",
                "El Paso",
                "Gamarra",
                "González",
                "La Gloria",
                "La Jagua",
                "Ibirico",
                "Manaure",
                "Pailitas",
                "Pelaya",
                "Pueblo Bello",
                "Río de Oro",
                "Robles la Paz",
                "San Alberto",
                "San Diego",
                "San Martín",
                "Tamalameque",
                "Valledupar"
            ],
            "Chocó": [
                "Acandi",
                "Alto Baudo",
                "Atrato",
                "Bagado",
                "Bahía Solano",
                "Belén de bajirá",
                "Bajo Baudo",
                "Bojayá",
                "Cantón de San Pablo",
                "Carmen del Darién",
                "Certeguí",
                "Condoto",
                "El Carmen",
                "Istmina",
                "Jurado",
                "Litoral del San Juan",
                "Lloró",
                "Medio Atrato",
                "Medio Baudo",
                "Medio San Juan",
                "Novita",
                "Nuquí",
                "Quibdó",
                "Río Iro",
                "Río Quito",
                "Riosucio",
                "San José del Palmar",
                "Sipí",
                "Tado",
                "Unguía",
                "Unión Panamericana"
            ],
            "Córdoba": [
                "Ayapel",
                "Buenavista",
                "Canalete",
                "Cerete",
                "Chima",
                "Chinu",
                "Ciénaga de Oro",
                "Cotorra",
                "La Apartada",
                "Lorica",
                "Los Córdobas",
                "Momil",
                "Moñitos",
                "Montelibano",
                "Montería",
                "Planeta Rica",
                "Pueblo Nuevo",
                "Puerto Escondido",
                "Puerto Libertador",
                "Purísima",
                "Sahagun",
                "San Andrés",
                "Sotavento",
                "San Antero",
                "San Bernardo Viento",
                "San Carlos",
                "San Pelayo",
                "Tierralta",
                "Tuchin",
                "Valencia"
            ],
            "Guainía": [
                "Inírida",
                "Barranco Minas",
                "Cacahual",
                "La Guadalupe",
                "Mapiripana",
                "Morichal",
                "Pana Pana",
                "Puerto Colombia",
                "San Felipe"
            ],
            "Guaviare": [
                "Calamar",
                "El Retorno",
                "Miraflores",
                "San José del Guaviare"
            ],
            "Huila": [
                "Acevedo",
                "Agrado",
                "Aipe",
                "Algeciras",
                "Altamira",
                "Baraya",
                "Campoalegre",
                "Colombia",
                "Elias",
                "Garzón",
                "Gigante",
                "Guadalupe",
                "Hobo",
                "Íquira",
                "Isnos",
                "La Argentina",
                "La Plata",
                "Nataga",
                "Neiva",
                "Oporapa",
                "Paicol",
                "Palermo",
                "Palestina",
                "Pital",
                "Pitalito",
                "Rivera",
                "Saladoblanco",
                "San Agustín",
                "Santa María",
                "Suaza",
                "Tarqui",
                "Tello",
                "Teruel",
                "Tesalia",
                "Timana",
                "Villavieja",
                "Yaguará"
            ],
            "La Guajira": [
                "Riohacha",
                "Albania",
                "Barranca",
                "Dibulla",
                "Distracción",
                "El Molino",
                "Fonseca",
                "La Jagua del Pilar",
                "Maicao",
                "Manaure",
                "San Juan del Cesar",
                "Urumita",
                "Villa Nueva"
            ],
            "Putumayo": [
                "Colón",
                "Mocoa",
                "Orito",
                "Puerto Asís",
                "Puerto Caicedo",
                "Puerto Guzman",
                "Leguizamo",
                "San Francisco",
                "San Miguel",
                "Santiago",
                "Sibundoy",
                "Valle del Guamuez",
                "Villagarzón"
            ],
            "Quindío": [
                "Armenia",
                "Buenavista",
                "Calarca",
                "Circasia",
                "Córdoba",
                "Filandia",
                "Genova",
                "La Tebaida",
                "Montenegro",
                "Pijao",
                "Quimbaya",
                "Salento"
            ],
            "San Andrés y Providencia": [
                "Providencia",
                "San Andrés y Providencia"
            ],
            "Sucre": [
                "Buenavista",
                "Caimito",
                "Chalán",
                "Colosó",
                "Coveñas",
                "Corozal",
                "El Roble",
                "Galeras",
                "Guaranda",
                "La Unión",
                "Los Palmitos",
                "Majagual",
                "Morroa",
                "Ovejas",
                "Palmito",
                "Sampués",
                "San Benito Abad",
                "San Juan de Betulia",
                "San Marcos",
                "San Onofre",
                "San Pedro",
                "Sincé",
                "Sincelejo",
                "Sucre",
                "Tolú",
                "Toluviejo"
            ],
            "Tolima": [
                "Alpujarra",
                "Alvarado",
                "Ambalema",
                "Anzoátegui",
                "Ataco",
                "Cajamarca",
                "Carmen de Apicalá",
                "Casabianca",
                "Chaparral",
                "Coello",
                "Coyaima",
                "Cunday",
                "Dolores",
                "Espinal",
                "Falán",
                "Flandes",
                "Fresno",
                "Guamo",
                "Guayabal",
                "Herveo",
                "Honda",
                "Ibagué",
                "Icononzo",
                "Lérida",
                "Líbano",
                "Mariquita",
                "Melgar",
                "Murillo",
                "Natagaima",
                "Ortega",
                "Palocabildo",
                "Piedras",
                "Planadas",
                "Prado",
                "Purificación",
                "Rioblanco",
                "Roncesvalles",
                "Rovira",
                "Saldaña",
                "San Antonio",
                "San Luis",
                "Santa Isabel",
                "Suárez",
                "Valle de San Juan",
                "Venadillo",
                "Villahermosa",
                "Villarrica"
            ],
            "Vaupés": [
                "Cacarú",
                "Mitú",
                "Papunaua",
                "Pacoa",
                "Taraira",
                "Yavaraté"
            ],
            "Vichada": [
                "Cumaribó",
                "La Primavera",
                "Puerto Carreño",
                "Santa Rosalia"
            ]
        };

        for (var key in dict) {
            // check if the property/key is defined in the object itself, not in parent
            if (dict.hasOwnProperty(key)) {

                $(ddlCity).empty();
                $.each(dict[ddlState.val()], function (i, p) {
                    ddlCity.append($('<option></option>').val(p).html(p));
                });

                //for (var i in dict[ddlState.val()]) {
                //    ddlCity.append($("<option></option>").val(dict[ddlState.val()][i]).html(dict[ddlState.val()][i]));
                //    console.log(dict[ddlState.val()][i]);
                //}
            }
        }



        $(ddlState).change(function () {

            for (var key in dict) {
                // check if the property/key is defined in the object itself, not in parent
                if (dict.hasOwnProperty(key)) {

                    $(ddlCity).empty();
                    $.each(dict[ddlState.val()], function (i, p) {
                        ddlCity.append($('<option></option>').val(p).html(p));
                    });
                }
            }
        });
    });


    
</script>
