@model WebSigma.Models.ViewModels.VisitorViewModel

@{
    ViewBag.Title = "Index";
}


<div class="row justify-content-center">
    <div>

    </div>
    <div class="col-lg-8 text-center">
        <div class="logo">
            <img src="~/Images/sigma-logo.png" class="img-fluid" alt="logo">
        </div>
        <br />
        <div class="titulo">
            <strong><h3>Prueba de desarrollo Sigma</h3></strong>
        </div>
        <br />
        <div class="parrafo">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>

</div>

<div class="row justify-content-center" style="margin-top:35px;">
    <div class="col-lg-5">
        <img src="~/Images/sigma-image.png" class="img-fluid" alt="logo">
    </div>
    <div class="col-lg-5">
        <div class="card formulario shadow p-3 mb-5 bg-white rounded">
            <div class="card-body hori">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pepito de Jesus" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger",  })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "pepitodejesus@gmail.com" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-circle text-center boton" value="enviar">ENVIAR</button>

                    </div>}
                </form>
            </div>
        </div>
    </div>
</div>

